.glyphicon{
	/*font-size: 18px;*/
	/*vertical-align: middle;*/
}
.bg-gray{
	background-color: gray;
	color:white;
}
.bg-gray:hover{
	background-color: gray !important;
	color:black;
}

.bg-red{
	background-color: red;
	color:white;
}
.bg-red:hover{
	background-color: red;
	color:white;
}

.bg-yellow{
	background-color: yellow;
}

.bg-yellow:hover{
	background-color: yellow;
}

.bg-orange{
	background-color: #ffb735;
}

.bg-orange:hover{
	background-color: orange;
	color:white;
}

.bg-green{
	background-color: #50b750;
}

.bg-green:hover{
	background-color: green;
	color:white;
}

.bg-blue{
	background-color: blue;
	color:white;
}
.bg-blue:hover{
	background-color: blue;
	color:white;
}

.fila_verificar{
	background-color: #ffff94;
}

.fila_verificar:hover{
	background-color: #ffff00 !important;
}


.help-inline{
	background-color: orange;
	color:red;
}

.inline{
	display: inline;
}

.icon_red{
	color:red;
}

.icon_green{
	color:green;
}

.icon_gray{
	color:gray;
}

.icon_yellow{
	color:yellow;
}

.inactivo{
	color:#cecece;
}

span.disabled{
	/*background-color: #000 !important;*/
	color:#ddd !important;
}

span.sancionado,span.falta,span.suspencion{
	color:red !important;
}

span.fuera-horario,span.permiso{
	color:#dede00 !important;
}

span.asistencia{
	color:green !important;
}

.btn-editar{
	background-color: orange;
}

.btn-editar:hover{
	background-color: #d48900;
}

.btn-eliminar{
	background-color: red;
}

.btn-eliminar:hover{
	background-color:#f96c6c;
}

/*TRABAJADOR */
.preview_foto{
	margin:auto;
	width:100%;height:100%;
	max-height: 200px;
	max-width: 200px;
}